{{extend 'layout.html'}}

<style>
body {
    background-image: url("{{=URL('static','images/.jpg')}}");
    background-repeat: repeat-1;
}
.thumbnail {
	width:180px;
	height:180px;
	color:#520;
	border: 3px solid;
	margin:0px;
	padding:0px;
}

.videodiv {
	color:#000;
	border: 3px solid;
	padding: 15px;
	margin: 15px;
	width: 1100px;
    height: 250px;
}

table td tr {
    width:250px;
    height:200px;
	margin:5px;
	padding:0px;
	border:0px;
}
</style>

<H1>Newly released Trailers !!</H1>
<table>
{{for video in videos:}}
	<tr><td>
		<div class='videodiv'>
		<table>
		<tr><td>	<h3>{{=video.movie_name}}</h3><img class='thumbnail' src="{{=URL(r=request,c='appadmin',f='download',args=['db',video.converted_image])}}" /></td>
		<td>
                <video width="320" height="240" controls>
                    <source src="{{=URL('download',args=video.uploaded_video)}}" type="video/ogg">
                    <source src="{{=URL('download',args=video.uploaded_video)}}" type="video/mp4">
                </video><br><br>
				<!--{{=video.description}}<br /><br />-->
				<!--{{=A('Delete',_href=URL('delete?id=%s'%video.id))}}-->
		</td></tr></table>
		</div>
	</td></tr>
{{pass}}
	<tr>
		<td><br /><b>{{=A('Add A New Video...',_href=URL('new_video'))}}</b></td>
	</tr>
</table>
