{{extend 'layout.html'}}
<style>
<!--body {
    background-image: url("{{=URL('static','images/.jpg')}}");
    background-repeat: repeat-1;
}-->
.thumbnail {
	width:15px;
	height:15px;
	color:#520;
	border: 0px solid;
	margin:0px;
	padding:0px;
}
.thumb {
	width:180px;
	height:180px;
	color:#520;
	border: 5px solid;
	margin:0px;
	padding:0px;
}
</style>
<h1>{{=category.name.title()}}</h1>

{{if request.function=='list_posts_by_votes':}}
{{=A('List by datetime',_class='btn',_href=URL('list_posts_by_datetime',args=category.name))}}
{{else:}}
{{=A('List by votes',_class='btn',_href=URL('list_posts_by_votes',args=category.name))}}
{{pass}}
{{=A('Add a Review',_class='btn btn-primary',_href=URL('create_post',args=category.name))}}
<hr/>

{{for post in rows:}}
<div class="well">
    <table>
        <tr><td><img class='thumb' src="{{=URL(r=request,c='appadmin',f='download',args=['db',post.image])}}" /></td><td>
        <table>
            <tr><td></td></tr>
            <tr><td><strong>{{=post.rating}}</strong></td>{{if post.rating>0:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>1:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>2:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>3:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>4:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}</tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
    </table>
    <table>
            <tr data-id="{{post.id}}"><td><button onclick="ajax('{{=URL('voteformovie',args=('sub',post.Movie_name))}}')">dislike</button></td><td><span class="votes">{{=post.votes}}</span></td><td><button onclick="ajax('{{=URL('voteformovie',args=('add',post.Movie_name))}}')">like</button></td><td><strong>{{=A(post.Movie_name,_href=post.url) if post.url else post.title}}</strong></td></tr>
        <tr><td colspan="3"></td><td>{{=A('Comments',_href=URL('view_post',args=post.id))}}</td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td colspan="3"></td><td>{{=A('Watch Trailers',_href=URL('dekho'))}}</td></tr>
    </table></td>
            </tr>
        </table>
</div>
{{pass}}

{{if page>0:}}
{{=A('Previous',_class='btn',_href=URL(args=(category.name,page-1)))}} 
{{pass}}

{{if len(rows)>=5:}}
{{=A('Next',_class='btn',_href=URL(args=(category.name,page+1)))}}
{{pass}}


<!--function do_ajax_vote(t,direction) {
 #   var id = jQuery(t).closest('tr').attr('data-id');
   # jQuery.ajax({method:'post',url:'{{=URL('vote_callback')}}',
  #              data:{'id':id,'direction':direction},
 #               success: function(data){
#				  jQuery(t).closest('tr').find('.votes').html(data);
#				} });
#}

#jQuery(function() {
 #   jQuery('[data-direction=up').click(function(){do_ajax_vote(this,'up');});
#	jQuery('[data-direction=down').click(function(){do_ajax_vote(this,'down');});
# });
#-->
<!--{{for post in rows:}}
<div class="well">
    <table>
        <tr><td><img class='thumb' src="{{=URL(r=request,c='appadmin',f='download',args=['db',post.image])}}" /></td><td>
        <table>
            <tr><td></td></tr>
            <tr><td><strong>{{=post.rating}}</strong></td>{{if post.rating>0:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>1:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>2:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>3:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}{{if post.rating>4:}}<td><img class='thumbnail'  src="{{=URL('static','images/star.png')}}"/></td>{{pass}}</tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
    </table>
    <table>
            <tr data-id="{{post.id}}"><td><button onclick="ajax('{{=URL('voteformovie',args=('sub',post.Movie_name))}}')">dislike</button></td><td><span class="votes">{{=post.votes}}</span></td><td><button onclick="ajax('{{=URL('voteformovie',args=('add',post.Movie_name))}}')">like</button></td><td><strong>{{=A(post.Movie_name,_href=post.url) if post.url else post.title}}</strong></td></tr>
        <tr><td colspan="3"></td><td>{{=A('Comments',_href=URL('view_post',args=post.id))}}</td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td colspan="3"></td><td>{{=A('Watch Trailers',_href=URL('dekho'))}}</td></tr>
    </table></td>
            </tr>
        </table>
</div>
{{pass}}

{{if page>0:}}
{{=A('Previous',_class='btn',_href=URL(args=(category.name,page-1)))}} 
{{pass}}

{{if len(rows)>=5:}}
{{=A('Next',_class='btn',_href=URL(args=(category.name,page+1)))}}
{{pass}}-->
